{% extends "contentpages/streamfield_page.html" %}
{% load github_finder %}
{% block prestuff %}

{% reload_github_repo self.repo_owner self.repo_name %}

{% if self.repo %}
{% if update_successful == False %}{# When we were unable to get the data from GitHub #}
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Achtung!</h4>
  <p class="mb-0">Leider konnte nicht die aktuellste Version für das GitHub Repos von {{self.repo.name}} geladen werden. Im einfachsten Fall reicht es aus, die Seite einfach neu zu laden.
  Sollte das Problem dann immer noch bestehen, wäre eine Email mit dem Betreff "Repo {{self.repo.name}} wird nicht mehr geladen" an die Adresse, die auch im Pressum angegebene ist, hilfreich.
  {% if self.repo.access_status == 'public' %}Trotzdem sollte es imemr noch möglich sein, unten auf "Zum Repository" zu klicken um so auf das eigentliche GitHub Repository zugreifen zu können{%endif%}</p>
</div>
{%endif%}
<div class="card mb-3">
  <span>
  <h3 class="card-header">{{ self.repo.get_access_status_display }} | {{ self.repo.name }}</h3>
  </span>
  <div class="card-body">
    <h5 class="card-title">Besitzer: {{ self.repo.owner_name }}</h5>
      <h6 class="card-subtitle text-muted"><p>Erstellt am: {{ self.repo.created_on }} / Letze Änderung: {{ self.repo.last_updated }}</p></h6>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><p class="card-text">{{ self.repo.description }}</p></li>
      <li class="list-group-item"><small><p class="card-text">Sprache: {{ self.repo.language }}</p>
      <p class="card-text">Größe: {{ self.repo.size }}kiB</p></small></li>

  </ul>
    <div class="card-body row pt-0 pb-0">
        <div class="col" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Forks: {{ self.repo.forks }}">&#x1F503; {{ self.repo.forks }}</div>
        <div class="border-left col"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Stargazers: {{ self.repo.stargazers }}">&#x2B50; {{ self.repo.stargazers }}</div>
        <div class="border-left col"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Subscribers: {{ self.repo.subscribers }}">&#x1F48C; {{ self.repo.subscribers }}</div>
        <div class="border-left col" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Issues: {{ self.repo.issues }}">&#x2755; {{ self.repo.issues }}</div>
    </div>

  <div class="card-footer text-muted">
      <a href="{{self.repo.repo_url}}" class="btn btn-primary" role="button">Zum Repository</a>
  </div>
</div>
{% else %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="danger-heading">Repo nicht gefunden</h4>
  <p class="mb-0">Das GitHub Repository konnte nicht gefunden werden. Tut mir leid :(</p>
</div>
{% endif %}

{% endblock %}