{% load wagtailcore_tags wagtailimages_tags %}
{% for event in events %}

    {% image event.track.track_image width-600 as track_image %}
    {% image event.event_image width-600 as event_image %}
      <div class="card mb-3" style="display:inline-flex;max-width:45%;min-width:200px">
      <h3 class="card-header">{% if event_image %}<img src="{{ event_image.url }}" style="max-height:4em;object-fit:contain" class="center">{% else %}{{ event.name }}{% endif %}</h3>
      <div class="card-body">
          <h5 class="card-title">{{ event.track.get_type_display }}</h5>
          <h6 class="card-subtitle text-muted">{{ event.track.length_per_round}}kms {% if event.track.type == 'R' or event.track.type == 'C' or event.track.type == 'D'%}/ {{ event.laps }} lap{% if event.laps != 1 %}s{% endif %} {% endif %}</h6>
      </div>
      <img class="center" style="max-height:20em;object-fit:contain" src="{{ track_image.url }}" alt="{{ track_image.alt }}">
      <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ event.description }}</li>
          <li class="list-group-item">
              Event Details:
              <table class="table table-hover">
                  <thead></thead>
                  <tbody>
                    <tr>
                        <th scope="row">
                            Cars:
                        </th>
                        <td>
                            {{ event.car_class }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Car Power:
                        </th>
                        <td>
                            {{ event.get_car_power_display }}
                        </td>
                     </tr>
                  <tr>
                        <th scope="row">
                            Season:
                        </th>
                        <td>
                            {{ event.get_season_display }}
                        </td>
                    </tr>
                  <tr>
                        <th scope="row">
                            Daytime:
                        </th>
                        <td>
                            {{ event.get_time_of_day_display }}
                        </td>
                    </tr>
                  <tr>
                        <th scope="row">
                            Weather:
                        </th>
                        <td>
                            {{ event.get_weather_display }}
                        </td>
                    </tr>
                  <tr>
                        <th scope="row">
                            Share code:
                        </th>
                        <td>
                            <b>{% if event.sharecode != 0 %}{{ event.sharecode }}{% else %}Not Available{% endif %}</b>
                        </td>
                    </tr>
                  </tbody>
              </table>
          </li>
      </ul>
    </div>

{% endfor %}

