{% load wagtailcore_tags wagtailimages_tags %}
{% for tune in tunes %}
  {% cycle '<div class="row justify-content-center">' '' %} {# opening a new row every other iteration #}
    {% image tune.preview_image min-1x1 as tune_thumb %}
    {% if tune.tune_type == 'C' %}
    <div class="card mb-3 border-info pl-0 pr-0 {% cycle 'mr-1' 'ml-1' %} col-md" style="display:inline-flex">
    {% elif tune.tune_type == 'R' %}
    <div class="card mb-3 border-warning pl-0 pr-0 {% cycle 'mr-1' 'ml-1' %} col-md" style="display:inline-flex">
    {% elif tune.tune_type == 'O' %}
    <div class="card mb-3 border-success pl-0 pr-0 {% cycle 'mr-1' 'ml-1' %} col-md" style="display:inline-flex">
    {% else %}
    <div class="card mb-3 pl-0 pr-0 {% cycle 'mr-1' 'ml-1' %} col-md" style="display:inline-flex">
    {% endif %}
      <h3 class="card-header">{{ tune.name }}</h3>
      <div class="card-body">
          <h5>{{ tune.car }}</h5>
          <h6>{{ tune.get_tune_type_display }} / {{ tune.get_tune_characteristic_display }}</h6>
          <div> {# other data that didn't fit into the bars/table #}
              {% if tune.pi == 999 %}X
              {% elif tune.pi > 900 %}S2
              {% elif tune.pi > 800 %}S1
              {% elif tune.pi > 700 %}A
              {% elif tune.pi > 600 %}B
              {% elif tune.pi > 500 %}C
              {% else %}D{% endif %} {{ tune.pi }} | {{ tune.get_drivetrain_display }} | {{ tune.tune_sharecode }}
          </div>
      </div>
        {% if tune_thumb %}
            <img class="center" style="object-fit:contain" src="{{ tune_thumb.url }}" alt="{{ tune_thumb.alt }}"/>
        {% endif %}
      <div class="card-body">
          {% if tune.livery_name %}<small class="text-muted">Lackierung: {{ tune.livery_name }}{% if tune.livery_sharecode %}| {{ tune.livery_sharecode }}{% endif %}</small>{% endif %}
          <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#simple{{forloop.counter}}">Einfache Stats</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#detail{{forloop.counter}}">Details</a></li>
          </ul>
          <div id="tabContent{{forloop.counter}}" class="tab-content">
              <div class="tab-pane fade active show" id="simple{{forloop.counter}}">
                  <div class="row" style="padding-top:10px">
                      <div class="col-4">
                          Geschw.:
                      </div>
                      <div class="col">
                          <div class="progress">
                              <div class="progress-bar {% if tune.tune_type == 'C' %}bg-info{% elif tune.tune_type == 'R' %}bg-warning{% elif tune.tune_type == 'O' %}bg-success{%endif%}" role="progressbar" style="width:{{ tune.rating_speed }}%" aria-valuenow="{{ tune.rating_speed }}" aria-valuemin="0" aria-valuemax="100">{{ tune.rating_speed }}</div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="padding-top:5px">
                      <div class="col-4">
                          Handling:
                      </div>
                      <div class="col">
                          <div class="progress">
                              <div class="progress-bar {% if tune.tune_type == 'C' %}bg-info{% elif tune.tune_type == 'R' %}bg-warning{% elif tune.tune_type == 'O' %}bg-success{%endif%}" role="progressbar" style="width:{{ tune.rating_handling }}%" aria-valuenow="{{ tune.rating_handling }}" aria-valuemin="0" aria-valuemax="100">{{ tune.rating_handling }}</div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="padding-top:5px">
                      <div class="col-4">
                          Beschl.:
                      </div>
                      <div class="col">
                          <div class="progress">
                              <div class="progress-bar {% if tune.tune_type == 'C' %}bg-info{% elif tune.tune_type == 'R' %}bg-warning{% elif tune.tune_type == 'O' %}bg-success{%endif%}" role="progressbar" style="width:{{ tune.rating_accel }}%" aria-valuenow="{{ tune.rating_accel }}" aria-valuemin="0" aria-valuemax="100">{{ tune.rating_accel }}</div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="padding-top:5px">
                      <div class="col-4">
                          Start:
                      </div>
                      <div class="col">
                          <div class="progress">
                              <div class="progress-bar {% if tune.tune_type == 'C' %}bg-info{% elif tune.tune_type == 'R' %}bg-warning{% elif tune.tune_type == 'O' %}bg-success{%endif%}" role="progressbar" style="width:{{ tune.rating_start }}%" aria-valuenow="{{ tune.rating_start }}" aria-valuemin="0.0" aria-valuemax="100">{{ tune.rating_start }}</div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="padding-top:5px">
                      <div class="col-4">
                          Bremsen:
                      </div>
                      <div class="col">
                          <div class="progress">
                              <div class="progress-bar {% if tune.tune_type == 'C' %}bg-info{% elif tune.tune_type == 'R' %}bg-warning{% elif tune.tune_type == 'O' %}bg-success{%endif%}" role="progressbar" style="width:{{ tune.rating_brakes }}%" aria-valuenow="{{ tune.rating_brakes }}" aria-valuemin="0.0" aria-valuemax="100">{{ tune.rating_brakes }}</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="detail{{forloop.counter}}">
                  <span><p style="padding-top:10px">Antrieb: {{ tune.get_drivetrain_display }} | Aufladung: {{ tune.get_intake_display }}</p></span>
                  <table class="table table-hover">
                      <thead></thead>
                      <tr>
                          <th scope="row">Geschwindigkeit</th>
                          <td>{{ tune.speed }} km/h</td>
                      </tr>
                      <tr>
                          <th scope="row">Leistung</th>
                          <td>{{ tune.power }} kW</td>
                      </tr>
                      <tr>
                          <th scope="row">Drehmoment</th>
                          <td>{{ tune.torque }} Nm</td>
                      </tr>
                      <tr>
                          <th scope="row">0-100 km/h</th>
                          <td>{{ tune.accel100 }} s</td>
                      </tr>
                      <tr>
                          <th scope="row">0-160 km/h</th>
                          <td>{{ tune.accel160 }} s</td>
                      </tr>
                      <tr>
                          <th scope="row">Grip @ 100 km/h</th>
                          <td>{{ tune.grip100 }} G</td>
                      </tr>
                      <tr>
                          <th scope="row">Grip @ 160 km/h</th>
                          <td>{{ tune.grip160 }} G</td>
                      </tr>
                      <tr>
                          <th scope="row">Gewicht</th>
                          <td>{{ tune.weight }} kg</td>
                      </tr>
                      <tr>
                          <th scope="row">Gewichtsverteilung</th>
                          <td>{{ tune.weight_distrib }} %</td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>

    </div>
 {% if forloop.last %}
 </div> {# Definitely need to close on the last iteration #}
 {% else %}
 {% cycle '' '</div>' %} {# Closing </div> every other for-loop iteration #}
 {% endif %}

{% endfor %}

