{% load crashk_utils %}

<div class="col text-center border-right border-bottom">
    <div style="margin-left:10%;margin-top:2%;margin-top:2%">
        <h5>Spielzeit</h5>
        {% divide_rounded {{ apistats.playtime }} 60.0 %}h
    </div>
</div>
<div class="col text-center border-right border-bottom">
    <div style="margin-left:10%;margin-top:2%;margin-top:2%">
        <h5>Autos im Besitz</h5>
        {{ apistats.cars_owned }}
    </div>
</div>
<div class="col text-center border-bottom">
    <div style="margin-left:10%;margin-top:2%;margin-top:2%">
        <h5>XP</h5>
        {{ apistats.influence }}
    </div>
</div>