.red-color {
    background-color:#A00000;
    color:white;
}

.dark-color {
    background-color:#606060
    color:white;
}

.parallax340 {
    height:340px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.parallax4 {
    height:270px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.parallax3 {
    height:360px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.parallax5 {
    height:216px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.title-image {
    max-height:500px;
    display:inline;
}

.thumbnail-image {
    max-height:100px;
    display:inline-block;
}

.borderwidth-2 {
    border-width:2px !important;
}

.background-gradient-retro {
    background: rgb(255,0,100);
    background: linear-gradient(98deg, rgba(255,0,100,1) 0%, rgba(255,0,212,1) 33%, rgba(43,0,255,1) 100%);
}

.card-body-noflex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    /* flex: 1 1 auto; */
    min-height: 1px;
    padding: 1.25rem;
}