{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><img src="/media/original_images/ck3k_icon.png" style="max-height:65px;padding-right:1em"/>Crashsite </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      {% if pageurl == "" %}<li class="nav-item active">{% else %}<li class="nav-item">{%endif%}
      <a class="nav-link" href="/about_me">Über mich {% if pageurl == "" %}<span class="sr-only">(current)</span>{% endif %}</a>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projekte</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/proj_homestream">HomeStream</a>
          <a class="dropdown-item" href="/proj_crashsite">Crashsite</a>
          <a class="dropdown-item" href="/proj_kinectmania">KINECTmania</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CS:GO</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/csgo_me">Statistiken</a>
          <a class="dropdown-item" href="/csgo_settings">Settings</a>
          <a class="dropdown-item" href="/csgo_weapons">Weapon Balancing</a>
          <a class="dropdown-item" href="/csgo_neon_gyver">"Neon Gyver"</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">FH4</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/fh4_me">Statistiken</a>
          <a class="dropdown-item" href="/fh4_events">Meine Strecken</a>
          <a class="dropdown-item" href="/fh4_champs">Meine Streckenkollektionen</a>
          <a class="dropdown-item" href="/fh4_setups">Meine Setups</a>
          <a class="dropdown-item" href="/fh4_wishlist">Wunschliste</a>
        </div>
      </li>
      {% if pageurl == "/blog" %}<li class="nav-item active">{% else %}<li class="nav-item">{%endif%}
      <a class="nav-link" href="/blog">Blog {% if pageurl == "/blog" %}<span class="sr-only">(current)</span>{% endif %}</a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- actual content -->
<div class="container py-4">
    {% block cs_content %}{% endblock %}
</div>

<!-- Footer -->
        <footer class="page-footer navbar-dark font-small bg-dark">

          <!-- kennst du nicht -->
          <div class="footer-copyright text-center py-3">
            <span>
              <a href="/impressum" class="footer-copyright">Impressum</a> ~(˘▾˘)~ <a href="/datenschutz">Datenschutz</a>
            </span>
          </div>
          <div class="footer-copyright text-center py-3">Wer das liest ist doof</div>

          <!-- kennst du immer noch nicht -->
        </footer>
<!-- Footer -->


{% endblock %}
